<%-include("../partials/header")%>
<section>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top: 25px;">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img class="first-slide" src="img/20.webp" alt="First slide" style="background-position: center; background-size: cover;">
            <div class="container">
              <div class="carousel-caption">
                <h1>Example headline.</h1>
                <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
                
              </div>
            </div>
          </div>
          <div class="item">
            <img class="second-slide" src="img/30.webp" alt="Second slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>Another example headline.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
               
              </div>
            </div>
          </div>
          <div class="item">
            <img class="third-slide" src="img/50.webp" alt="Third slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>One more for good measure.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                
              </div>
            </div>
          </div>
     
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</section>

<section>
    <div class="container-fluid banner-message"
        style="margin-bottom: 25px; margin-top: -59px; background-image:-moz-linear-gradient(0deg,#07047F 0%,rgb(5, 14, 94) 100%); background-image:-webkit-linear-gradient(0deg,rgb(3, 25, 121) 0%,rgb(19, 11, 128) 100%); background-image:-ms-linear-gradient(0deg,#f9218d 0%,#07047F 100%);">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <center>
                    <div class="col-sm-12" style="padding: 15px 15px; color: whitesmoke">
                        <h3>Best Football Prediction Tips for Today! <br><small style="color: whitesmoke">Betsloaded
                                provides football tips, predictions for leagues and cups, based on last rounds team
                                performances, to help provided better picks. Our daily data consists of: Full Time 1X2
                                Football Tips, Over/Under Goals, Goals in the First Half, Both Teams To Score (BTTS/GG),
                                Corners, Home/Away to Score, Halftime and Full Time Draw and HT/FT Tips.</small></h3>
                        <br>
                    </div>
                </center>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 nopaddingsmall">
                <div class="section-title">
                    <center>
                        <h3 class="text-success" style="font-family: 'Acme', sans-serif;"> <span>FREE PUNTER'S
                                PICKS</span></h3>
                    </center>
                    <hr style="border: 1px dotted #07047F; margin-top: -8px;">
                    <center>
                    </center>
                </div>
                <div class="tab" role="tabpanel">

                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation"><a href="#Section1" aria-controls="home" role="tab"
                                data-toggle="tab">Yesterday</a></li>
                        <li role="presentation" class="active"><a href="#Section2" aria-controls="profile" role="tab"
                                data-toggle="tab">Today</a></li>
                        <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab"
                                data-toggle="tab">Tomorrow</a></li>
                    </ul>

                    <div class="tab-content tabs" style="color: #000!important;">
                        <div role="tabpanel" class="tab-pane fade in" id="Section1">
                            <table class="table myTableSmall"
                                style="background-color: #f8f9f9; font-size: 14px; width: 100%; margin-top: -10px;">
                                <tbody>
                                    <tr style="height: 9px;">
                                        <td style="width: 8%; height: 9px; background-color: #060; text-align: center;">
                                            <span style="color: #ffffff;">TIME</span></td>
                                        <td
                                            style="width: 10%; height: 9px; background-color: #060; text-align: center;">
                                            <span style="color: #ffffff;">LEAG</span></td>
                                        <td style="width: 55%; height: 9px; background-color: #060; text-align: left;">
                                            <span style="color: #ffffff;">FIXTURE</span></td>
                                        <td
                                            style="width: 12%; height: 9px; background-color: #060; text-align: center;">
                                            <span style="color: #ffffff;">TIP</span></td>
                                        <td
                                            style="width: 15%; height: 9px; background-color: #060; text-align: center;">
                                            <span style="color: #ffffff;">RESULT</span></td>
                                    </tr>
                                    <tr style="height: 3px;">
                                        <td style="height: 3px; text-align: center;"><span
                                                style="color: #060;"><strong>13:45</strong></span></td>
                                        <td style="height: 3px; background-color: #eeeeee; text-align: center;">TUR 2
                                        </td>
                                        <td style="height: 3px; text-align: left;">Ilioupoli <span
                                                style="color: #060;"><strong>VS</strong></span> Episkopi FC</td>
                                        <td style="height: 3px; background-color: #eeeeee; text-align: center;">
                                            <strong>1</strong></td>
                                        <td style="height: 3px; text-align: center;"><strong>:</strong></td>
                                    </tr>
                                    <tr style="height: 3px;">
                                        <td style="height: 3px; text-align: center;"><span
                                                style="color: #060;"><strong>13:45</strong></span></td>
                                        <td style="height: 3px; background-color: #eeeeee; text-align: center;">GRE 2
                                        </td>
                                        <td style="height: 3px; text-align: left;">Larissa <span
                                                style="color: #060;"><strong>VS</strong></span> Iraklis</td>
                                        <td style="height: 3px; background-color: #eeeeee; text-align: center;">
                                            <strong>1 DNB</strong></td>
                                        <td style="height: 3px; text-align: center;"><strong>:</strong></td>
                                    </tr>
                                    <tr style="height: 3px;">
                                        <td style="height: 3px; text-align: center;"><span
                                                style="color: #060;"><strong>18:30</strong></span></td>
                                        <td style="height: 3px; background-color: #eeeeee; text-align: center;">GRE 2
                                        </td>
                                        <td style="height: 3px; text-align: left;">Apollon Smyrnis <span
                                                style="color: #060;"><strong>VS</strong></span> Kalamata</td>
                                        <td style="height: 3px; background-color: #eeeeee; text-align: center;">
                                            <strong>1</strong></td>
                                        <td style="height: 3px; text-align: center;"><strong>:</strong></td>
                                    </tr>
                                    <tr style="height: 3px;">
                                        <td style="height: 3px; text-align: center;"><span
                                                style="color: #060;"><strong>13:30</strong></span></td>
                                        <td style="height: 3px; background-color: #eeeeee; text-align: center;">BELG 2
                                        </td>
                                        <td style="height: 3px; text-align: left;">RSC Anderlecht Futures <span
                                                style="color: #060;"><strong>VS</strong></span> RWD Molenbeek</td>
                                        <td style="height: 3px; background-color: #eeeeee; text-align: center;">
                                            <strong>OVER 2.5</strong></td>
                                        <td style="height: 3px; text-align: center;"><strong>:</strong></td>
                                    </tr>
                                    <tr style="height: 3px;">
                                        <td style="height: 3px; text-align: center;"><span
                                                style="color: #060;"><strong>12:00</strong></span></td>
                                        <td style="height: 3px; background-color: #eeeeee; text-align: center;">TUR 2
                                        </td>
                                        <td style="height: 3px; text-align: left;">Sapanca Genclikspor <span
                                                style="color: #060;"><strong>VS</strong></span> Nigde Belediyespor</td>
                                        <td style="height: 3px; background-color: #eeeeee; text-align: center;">
                                            <strong>1</strong></td>
                                        <td style="height: 3px; text-align: center;"><strong>:</strong></td>
                                    </tr>
                                    <tr style="height: 3px;">
                                        <td style="height: 3px; text-align: center;"><span
                                                style="color: #060;"><strong>16:00</strong></span></td>
                                        <td style="height: 3px; background-color: #eeeeee; text-align: center;">WC</td>
                                        <td style="height: 3px; text-align: left;">Argentina <span
                                                style="color: #060;"><strong>VS</strong></span> France</td>
                                        <td style="height: 3px; background-color: #eeeeee; text-align: center;">
                                            <strong>UNDER 2.5</strong></td>
                                        <td style="height: 3px; text-align: center;"><strong>:</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane fade in active" id="Section2">
                            <div class="col-sm-12">
                                <div class="alert alert-warning alert-dismissible">
                                    <div class="alert-heading">Our experts are currently working on this. Kindly check
                                        back in a bit!!</div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="Section3">
                            <div class="col-sm-12">
                                <div class="alert alert-warning alert-dismissible">
                                    <div class="alert-heading">Our experts are currently working on this. Kindly check
                                        back in a bit!!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container" style="margin-bottom: 20px;">
        <div class="row">
            <div class="clearfix"></div>
            <center>
                <div class="col-sm-12 mb15" style="">
                    <p><strong>Note: The tips above are just a selection of our expert vip tips, Kindly click on the
                            link below to View all Betsloaded Predictions</strong></p>
                    <a href="tips_store"><button class="btn-3">Click to View More Predictions</button></a>

                </div>
            </center>

        </div>
    </div>
</section>
<div class="col-sm-12 text-center telegramDiv"
    style="font-size: 15px!important; background: black; color: white; padding-top: 5px; height: 35px;">
    <center>
        <img src="img/telegram.png" style="height: 30px;" alt=""> <strong>Join Our Telegram Channel for Sure football
            predictions daily!!!...
            <a href="https://t.me/" target="_blank">Click Here</a></strong> <br><br>
    </center>
</div>

<div class="blog-new mt30 mb30" style="background:#07047F; padding: 0px;">
    <div class="container" style="margin-top: 30px; padding-bottom: 30px; color: white;">
        <div class="row">
            <div class="col-sm-12" style="padding-top: 30px; padding-bottom: 20px;">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <h2><strong>BE A WINNER TODAY!!!</strong></h2>
                        <p>Do you want to ride on our experienced, professional experts shoulders as they provide
                            <strong>2.00 - 3.00 Odds</strong> to enable you invest and make profit steadily everyday,
                            then you have it.</p>
                        <a href="/"><button
                                style="background-color: #ffe200; border: none; font-weight: bold; padding: 12px 12px; font-size: 16px; color: #000">Join
                                our Daily Banker / Investment Smasher [2.00 - 3.00 Odds]</button></a>
                        <h3><strong>Investment Banker Result</strong></h3>
                        <div class="row">
                            <div class="col-xs-2">
                                <span style="font-size: 17px; font-weight: bold">Wed <br> 14</span> <br>
                                <i class="fa fa-check-circle fa-2x text-success1"></i>
                            </div>
                            <div class="col-xs-2">
                                <span style="font-size: 17px; font-weight: bold">Thu <br> 15</span> <br>
                                <i class="fa fa-check-circle fa-2x text-success1"></i>
                            </div>
                            <div class="col-xs-2">
                                <span style="font-size: 17px; font-weight: bold">Fri <br> 16</span> <br>
                                <i class="fa fa-check-circle fa-2x text-success1"></i>
                            </div>
                            <div class="col-xs-2">
                                <span style="font-size: 17px; font-weight: bold">Sat <br> 17</span> <br>
                                <i class="fa fa-check-circle fa-2x text-success1"></i>
                            </div>
                            <div class="col-xs-2">
                                <span style="font-size: 17px; font-weight: bold">Sun <br> 18</span> <br>
                                <i class="fa fa-times-circle fa-2x text-danger"></i>
                            </div>
                            <div class="col-xs-2">
                                <span style="font-size: 17px; font-weight: bold">Mon <br> 19</span> <br>
                                <i class="fa fa-circle-o fa-2x"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="col-sm-12"
                            style="background-color: whitesmoke; border-radius: 7px; margin-top: 15px; color: black; padding-top: 8px; padding-bottom: 8px;">
                            <h3 class="text-center"><strong>Investment Scheme for Today</strong></h3>
                            <center>
                                <h2><strong>TOTAL ODDS: <span class="text-success">1.50</span></strong></h2>
                                <a href="login"><button class="btn-3"><i class="fa fa-eye"></i> VIEW TIP</button></a>
                            </center>
                            <hr>
                            <center>
                                <div class="containerCT">
                                    <h3 id="head" class="alert alert-success"><strong>Today's Investment Game
                                            Starts</strong></h3>
                                    <ul class="timer">
                                        <li><span id="hours">4</span>Hours</li>
                                        <li><span id="minutes">8</span>Minutes</li>
                                        <li><span id="seconds">58</span>Seconds</li>
                                    </ul>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="match-box pad60">
    <div class="container">
        <div class="row">

            <div class="col-sm-7 nopaddingsmall">
                <div class="col-sm-12" style="padding: 0px;">
                    <div class="up-matches">
                        <div class="section-title">
                            <center>
                                <h3 class="text-success" style="font-family: 'Acme', sans-serif;"> <span>UPCOMING
                                        PREDICTIONS</span></h3>
                            </center>
                            <hr style="border: 1px dotted #66bb6a; margin-top: -8px;">
                        </div>
                        <div class="col-sm-12">
                            <div class="alert alert-warning alert-dismissible">
                                <div class="alert-heading">Our experts are currently working on this. Kindly check back
                                    in a bit!!</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 nopaddingsmall hideSM">
                    <center>
                    </center>
                </div>
                <div class="col-sm-12 nopaddingsmall hideLG">
                    <center>
                    </center>
                </div>
            </div>

            <div class="col-sm-5 nopaddingsmall">
                <div class="section-title">
                    <center>
                        <h3 class="text-success" style="font-family: 'Acme', sans-serif;"> <span>RECENT WINNINGS</span>
                        </h3>
                    </center>
                    <hr style="border: 1px dotted #66bb6a; margin-top: -8px;">
                </div>
                <table class="table myTableSmall" style="background-color: #f8f9f9; font-size: 14px; width: 100%;">
                    <tbody>
                        <tr style="height: 9px;">
                            <td style="width: 8%; height: 9px; background-color: #060; text-align: center;"><span
                                    style="color: #ffffff;">DATE</span></td>
                            <td style="width: 55%; height: 9px; background-color: #060; text-align: left;"><span
                                    style="color: #ffffff;">FIXTURE</span></td>
                            <td style="width: 10%; height: 9px; background-color: #060; text-align: center;"><span
                                    style="color: #ffffff;">RESULT</span></td>
                            <td style="width: 12%; height: 9px; background-color: #060; text-align: center;"><span
                                    style="color: #ffffff;">TIP</span></td>
                        </tr>
                        <tr style="height: 3px;">
                            <td style="width: 8%; height: 3px; text-align: center;"><span
                                    style="color: #060;"><strong>17/12</strong></span></td>
                            <td style="width: 55%; height: 3px; text-align: left;">Sakaryaspor <span
                                    style="color: #060;"><strong>VS</strong></span> Genclerbirligi</td>
                            <td
                                style="width: 12%; height: 3px; background-color: #060; color: white; text-align: center;">
                                <strong>2:1</strong></td>
                            <td style="width: 15%; height: 3px; text-align: center;">1 DNB</td>
                        </tr>
                        <tr style="height: 3px;">
                            <td style="width: 8%; height: 3px; text-align: center;"><span
                                    style="color: #060;"><strong>17/12</strong></span></td>
                            <td style="width: 55%; height: 3px; text-align: left;">Hoffenheim <span
                                    style="color: #060;"><strong>VS</strong></span> 1860 Munich</td>
                            <td
                                style="width: 12%; height: 3px; background-color: #060; color: white; text-align: center;">
                                <strong>3:2</strong></td>
                            <td style="width: 15%; height: 3px; text-align: center;">1X</td>
                        </tr>
                        <tr style="height: 3px;">
                            <td style="width: 8%; height: 3px; text-align: center;"><span
                                    style="color: #060;"><strong>17/12</strong></span></td>
                            <td style="width: 55%; height: 3px; text-align: left;">Singapore <span
                                    style="color: #060;"><strong>VS</strong></span> Maldives</td>
                            <td
                                style="width: 12%; height: 3px; background-color: #060; color: white; text-align: center;">
                                <strong>3:1</strong></td>
                            <td style="width: 15%; height: 3px; text-align: center;">1</td>
                        </tr>
                        <tr style="height: 3px;">
                            <td style="width: 8%; height: 3px; text-align: center;"><span
                                    style="color: #060;"><strong>17/12</strong></span></td>
                            <td style="width: 55%; height: 3px; text-align: left;">Linfield <span
                                    style="color: #060;"><strong>VS</strong></span> Dungannon</td>
                            <td
                                style="width: 12%; height: 3px; background-color: #060; color: white; text-align: center;">
                                <strong>4:0</strong></td>
                            <td style="width: 15%; height: 3px; text-align: center;">1</td>
                        </tr>
                        <tr style="height: 3px;">
                            <td style="width: 8%; height: 3px; text-align: center;"><span
                                    style="color: #060;"><strong>17/12</strong></span></td>
                            <td style="width: 55%; height: 3px; text-align: left;">Cliftonville <span
                                    style="color: #060;"><strong>VS</strong></span> Portadown</td>
                            <td
                                style="width: 12%; height: 3px; background-color: #060; color: white; text-align: center;">
                                <strong>4:1</strong></td>
                            <td style="width: 15%; height: 3px; text-align: center;">1</td>
                        </tr>
                        <tr style="height: 3px;">
                            <td style="width: 8%; height: 3px; text-align: center;"><span
                                    style="color: #060;"><strong>16/12</strong></span></td>
                            <td style="width: 55%; height: 3px; text-align: left;">AEK Larnaca <span
                                    style="color: #060;"><strong>VS</strong></span> Omonia Nicosia</td>
                            <td
                                style="width: 12%; height: 3px; background-color: #060; color: white; text-align: center;">
                                <strong>2:1</strong></td>
                            <td style="width: 15%; height: 3px; text-align: center;">OVER 1.5</td>
                        </tr>
                        <tr style="height: 3px;">
                            <td style="width: 8%; height: 3px; text-align: center;"><span
                                    style="color: #060;"><strong>16/12</strong></span></td>
                            <td style="width: 55%; height: 3px; text-align: left;">AS Roma (W) <span
                                    style="color: #060;"><strong>VS</strong></span> St.polten-Spratzern</td>
                            <td
                                style="width: 12%; height: 3px; background-color: #060; color: white; text-align: center;">
                                <strong>5:0</strong></td>
                            <td style="width: 15%; height: 3px; text-align: center;">1</td>
                        </tr>
                        <tr style="height: 3px;">
                            <td style="width: 8%; height: 3px; text-align: center;"><span
                                    style="color: #060;"><strong>16/12</strong></span></td>
                            <td style="width: 55%; height: 3px; text-align: left;">Valencia <span
                                    style="color: #060;"><strong>VS</strong></span> Nottingham Forest</td>
                            <td
                                style="width: 12%; height: 3px; background-color: #060; color: white; text-align: center;">
                                <strong>1:2</strong></td>
                            <td style="width: 15%; height: 3px; text-align: center;">OVER 1.5</td>
                        </tr>
                        <tr style="height: 3px;">
                            <td style="width: 8%; height: 3px; text-align: center;"><span
                                    style="color: #060;"><strong>16/12</strong></span></td>
                            <td style="width: 55%; height: 3px; text-align: left;">Lille <span
                                    style="color: #060;"><strong>VS</strong></span> Cambuur</td>
                            <td
                                style="width: 12%; height: 3px; background-color: #060; color: white; text-align: center;">
                                <strong>2:0</strong></td>
                            <td style="width: 15%; height: 3px; text-align: center;">OVER 1.5</td>
                        </tr>
                        <tr style="height: 3px;">
                            <td style="width: 8%; height: 3px; text-align: center;"><span
                                    style="color: #060;"><strong>16/12</strong></span></td>
                            <td style="width: 55%; height: 3px; text-align: left;">Crystal Palace <span
                                    style="color: #060;"><strong>VS</strong></span> Real Valladolid</td>
                            <td
                                style="width: 12%; height: 3px; background-color: #060; color: white; text-align: center;">
                                <strong>2:1</strong></td>
                            <td style="width: 15%; height: 3px; text-align: center;">OVER 1.5</td>
                        </tr>
                        <tr style="height: 3px;">
                            <td style="width: 8%; height: 3px; text-align: center;"><span
                                    style="color: #060;"><strong>16/12</strong></span></td>
                            <td style="width: 55%; height: 3px; text-align: left;">Kampala City Council <span
                                    style="color: #060;"><strong>VS</strong></span> Busoga United FC</td>
                            <td
                                style="width: 12%; height: 3px; background-color: #060; color: white; text-align: center;">
                                <strong>2:1</strong></td>
                            <td style="width: 15%; height: 3px; text-align: center;">1</td>
                        </tr>
                        <tr style="height: 3px;">
                            <td style="width: 8%; height: 3px; text-align: center;"><span
                                    style="color: #060;"><strong>15/12</strong></span></td>
                            <td style="width: 55%; height: 3px; text-align: left;">Al Ittihad Al Sakandary <span
                                    style="color: #060;"><strong>VS</strong></span> Farco FC</td>
                            <td
                                style="width: 12%; height: 3px; background-color: #060; color: white; text-align: center;">
                                <strong>1:0</strong></td>
                            <td style="width: 15%; height: 3px; text-align: center;">1 DNB</td>
                        </tr>
                        <tr style="height: 3px;">
                            <td style="width: 8%; height: 3px; text-align: center;"><span
                                    style="color: #060;"><strong>15/12</strong></span></td>
                            <td style="width: 55%; height: 3px; text-align: left;">FC Rosengard (W) <span
                                    style="color: #060;"><strong>VS</strong></span> Bayern Munich (W)</td>
                            <td
                                style="width: 12%; height: 3px; background-color: #060; color: white; text-align: center;">
                                <strong>0:4</strong></td>
                            <td style="width: 15%; height: 3px; text-align: center;">OVER 2.5</td>
                        </tr>
                        <tr style="height: 3px;">
                            <td style="width: 8%; height: 3px; text-align: center;"><span
                                    style="color: #060;"><strong>15/12</strong></span></td>
                            <td style="width: 55%; height: 3px; text-align: left;">FCB Magpies <span
                                    style="color: #060;"><strong>VS</strong></span> Lions Gibraltar</td>
                            <td
                                style="width: 12%; height: 3px; background-color: #060; color: white; text-align: center;">
                                <strong>2:0</strong></td>
                            <td style="width: 15%; height: 3px; text-align: center;">1</td>
                        </tr>
                        <tr style="height: 3px;">
                            <td style="width: 8%; height: 3px; text-align: center;"><span
                                    style="color: #060;"><strong>15/12</strong></span></td>
                            <td style="width: 55%; height: 3px; text-align: left;">Guangzhou FC <span
                                    style="color: #060;"><strong>VS</strong></span> Shandong Taishan</td>
                            <td
                                style="width: 12%; height: 3px; background-color: #060; color: white; text-align: center;">
                                <strong>2:4</strong></td>
                            <td style="width: 15%; height: 3px; text-align: center;">2</td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-sm-12">
                    <center>
                        <a href="/"><button class="btn-3">See More Winnings</button></a>
                    </center>
                </div>
            </div>
            <div class="col-sm-12" style="padding: 0px; margin-bottom: -10px;">
                <br>
                <center>
                </center>
            </div>

        </div>

    </div>
</div>
<div class="blog-new mb30" style="background: #07047F">
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="padding-top: 30px;">
                <div class="section-title">
                    <h2 class="" style="font-family:sans-serif; color: white"> <span>TIP STORES</span></h2>
                </div>
                <div class="col-sm-12 bg1 nopaddingsmall" style="padding-bottom: 50px;">
                    <div class="col-sm-3 col-xs-6">
                        <a href="match-goals/over-1-5.html">
                            <div class="offer offer-radius offer-success">
                                <div class="shape">
                                    <div class="shape-text"><span class="fa fa-bullseye fa-2x"></span></div>
                                </div>
                                <div class="offer-content">
                                    <h3 class="lead">
                                        Over 1.5 Goals
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <a href="double-chance.html">
                            <div class="offer offer-radius offer-success">
                                <div class="shape">
                                    <div class="shape-text"><span class="fa  fa-bullseye fa-2x"></span></div>
                                </div>
                                <div class="offer-content">
                                    <h3 class="lead">
                                        Double Chance
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <a href="match-goals/overunder-2-5-goals.html">
                            <div class="offer offer-radius offer-success">
                                <div class="shape">
                                    <div class="shape-text"><span class="fa  fa-bullseye fa-2x"></span></div>
                                </div>
                                <div class="offer-content">
                                    <h3 class="lead">
                                        Over/Under 2.5 Goals
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <a href="both-teams-to-score.html">
                            <div class="offer offer-radius offer-success">
                                <div class="shape">
                                    <div class="shape-text"><span class="fa  fa-bullseye fa-2x"></span></div>
                                </div>
                                <div class="offer-content">
                                    <h3 class="lead">
                                        BTTS/GG
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <a href="corners-predictions.html">
                            <div class="offer offer-radius offer-success">
                                <div class="shape">
                                    <div class="shape-text"><span class="fa  fa-bullseye fa-2x"></span></div>
                                </div>
                                <div class="offer-content">
                                    <h3 class="lead">
                                        Match Corners
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <a href="draw-no-bet.html">
                            <div class="offer offer-radius offer-success">
                                <div class="shape">
                                    <div class="shape-text"><span class="fa  fa-bullseye fa-2x"></span></div>
                                </div>
                                <div class="offer-content">
                                    <h3 class="lead">
                                        Draw No Bet
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <a href="match-goals/over-0-5-goals.html">
                            <div class="offer offer-radius offer-success">
                                <div class="shape">
                                    <div class="shape-text"><span class="fa  fa-bullseye fa-2x"></span></div>
                                </div>
                                <div class="offer-content">
                                    <h3 class="lead">
                                        Over 0.5 HT
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <a href="ht-results.html">
                            <div class="offer offer-radius offer-success">
                                <div class="shape">
                                    <div class="shape-text"><span class="fa  fa-bullseye fa-2x"></span></div>
                                </div>
                                <div class="offer-content">
                                    <h3 class="lead">
                                        Half-Time Results
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>


            <br><br>
        </div>
    </div>
</div>


<div class="features-vdo-area pad60" style="font-family: 'Chakra Petch', sans-serif;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 nopaddingsmall hideSM">
                <center>
                </center>
                <br>
            </div>
            <div class="col-sm-12 nopaddingsmall hideLG">
                <center>
                </center>
                <br>
            </div>
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="text-success text-muted"> <span>Best Free Football Prediction Website</span></h2>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12 text-justify" style="font-size: 16px;">
                <p>Betting is a popular trend in the world of football. Although it could turn out to be a risky task
                    but football betting could be fun when you win more than you lose. You can win more than you lose by
                    following accurate prediction sites and best football prediction sites of the year. However, there
                    is need for proper guidance and adequate information when it comes to betting if you want to become
                    a successful punter. If you are looking for sites that predict football matches correctly,
                    Betsloaded is the best football prediction site.</p>
                <p>Betsloaded covers football LEAGs such as English Premier LEAG, Spanish La Liga, Italian Serie A,
                    German Bundesliga, French Ligue One, English Championship, Greece, Switzerland LEAG, Belgium Pro
                    LEAG and many more. Register with us today on the site that predicts football matches correctly. Our
                    service covers mulTIPle countries in regions such as Kenya, Tanzania, Uganda, Nigeria, South Africa,
                    United States of America (USA) and United Kingdom (UK).</p>
                <p><a href="/" style="color:#060">Betsloaded.com</a> is best soccer betting TIPs site.</p>
                <p>At Betsloaded, we offer football predictions/soccer TIPs and in-depth analysis for over 50 LEAGs
                    (both major LEAGs - English Premier LEAG Predictions, Serie A Predictions, La Liga Predictions,
                    Bundesliga Predictions, French Ligue 1 Predictions etc.. minor LEAGs- English Championship, Serie B,
                    Segunda LEAG and many others.) playing across the globe.</p>
                <p>Our unique system of categorizing football predictions and TIPs in different betting market (such as
                    <strong>BTTS/GG, OVER 2.5, UNDER 2.5, SINGLE BET, CORNER, ACCUMULATORS, DOUBLE CHANCE, SURE 2 ODDS,
                        SURE 3 ODDS, DRAW NO BET</strong> and many others)</p>
                <p>Best free fixed matches sites also predict correct score.</p>
            </div>
        </div>

    </div>
</div>
    <%-include("../partials/footer")%>   